body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerMain {
    background-color: aquamarine;
    width: 350px;
    height: 510px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.containerMain p {
    text-align: end;
    margin: 7px 12px 0px 0px;
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.output {
    border: 2.5px solid black;
    padding: 10px;
    text-align: end;
    margin: 12px;
    background-color: rgba(244, 254, 248, 0.975);
    border-radius: 10px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    box-shadow: 1.2px 3px rgba(0, 0, 0, 0.393);
    background-color: rgba(244, 254, 248, 0.975);
    font-size: 30px;
}

.operator {
    background-color: #6feeb7;
}

.backspace {
    background-color: #6feeb7;
}

.point {
    background-color: rgba(244, 254, 248, 0.975);
}