html,
body {
     margin: 0;
     height: 100%;
}


body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(/images/picture-back4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #D1D2D0;
}

.containerMain {
    background-color: rgba(51, 209, 206, 0.859);
    width: 350px;
    height: 510px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.containerMain p {
    text-align: end;
    margin: 7px 12px 0px 0px;
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #6e31f1;;
}

.point,
button,
.output {
    background-color: rgba(244, 254, 248, 0.975);
}

.output {
    border: 2.5px solid black;
    padding: 10px;
    text-align: end;
    margin: 12px;
    border-radius: 10px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    box-shadow: 1.2px 3px rgba(0, 0, 0, 0.393);
    font-size: 30px;
}

.operator,
.percent,
.backspace {
    background-color: rgba(59, 182, 180, 0.763);
}

.clear,
.equal {
    background-color: #8faff2;
}
