body {
    margin: 0;
    padding: 0;
}

.containerMain {
    background-color: aquamarine;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
   
}

.output {
    border: 1px solid black;
    padding: 15px;
    text-align: end;
    margin: 20px;
    background-color: mintcream;
}

.buttons {
    border: 1px solid black;
     display: flex;
    flex-wrap: wrap;
    height: 350px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

button {
    height: 80px;
    width: 80px;
}